body {
    position: relative;
}

.navbar-item-custom,
.navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}

.product-item .img {
    border: none;
}

.product-item .card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.product-bouton {
    display: inline;
    background-color: #dfeaff;
}

.product-container {
    margin-bottom: 150px;
}

.img-shopping-cart {
    height: 30px;
}